networks:
  arx_network:
    ipam:
      config:
        - subnet: 172.20.0.0/16

services:

  arcium-trusted-dealer:
    image: "arcium/trusted-dealer:latest"
    restart: unless-stopped
    volumes:
      - type: bind
        source: /app/artifacts/trusted_dealer_config.toml
        target: /usr/trusted-dealer/trusted_dealer_config.toml
        read_only: false
      - type: bind
        source: /app/artifacts/trusted_dealer_logs
        target: /usr/trusted-dealer/logs
      - type: bind
        source: /app/artifacts/localnet/td_identity.pem
        target: /usr/trusted-dealer/identity.json
      - type: bind
        source: /app/artifacts/localnet/td_master_seed.json
        target: /usr/trusted-dealer/master_seed.json
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      arx_network:
        ipv4_address: 172.20.0.99


  arx-node-0:
    image: "arcium/arx-node:latest"
    restart: unless-stopped
    environment:
      NODE_IDENTITY_FILE: /usr/arx-node/node-keys/node_identity.pem
      NODE_KEYPAIR_FILE: /usr/arx-node/node-keys/node_keypair.json
      OPERATOR_KEYPAIR_FILE: /usr/arx-node/node-keys/operator_keypair.json
      CALLBACK_AUTHORITY_KEYPAIR_FILE: /usr/arx-node/node-keys/callback_authority_keypair.json
      NODE_CONFIG_PATH: /usr/arx-node/arx/node_config.toml
      BLS_PRIVATE_KEY_FILE: /usr/arx-node/node-keys/node_bls_keypair.json
      X25519_PRIVATE_KEY_FILE: /usr/arx-node/node-keys/node_x25519_keypair.json
      ARX_METRICS_HOST: "0.0.0.0"
    ports:
      - "127.0.0.1:9091:9091"
    volumes:
      - type: bind
        source: /app/artifacts/node_config_0.toml
        target: /usr/arx-node/arx/node_config.toml
        read_only: false
      - type: bind
        source: /app/artifacts/localnet/node_0.json
        target: /usr/arx-node/node-keys/node_keypair.json
      - type: bind
        source: /app/artifacts/localnet/node_0.json
        target: /usr/arx-node/node-keys/operator_keypair.json
      - type: bind
        source: /app/artifacts/localnet/node_callback_0.json
        target: /usr/arx-node/node-keys/callback_authority_keypair.json
      - type: bind
        source: /app/artifacts/localnet/identity_0.pem
        target: /usr/arx-node/node-keys/node_identity.pem
      - type: bind
        source: /app/artifacts/arx_node_logs
        target: /usr/arx-node/logs
      - type: bind
        source: /app/artifacts/localnet/node_bls_0.json
        target: /usr/arx-node/node-keys/node_bls_keypair.json
      - type: bind
        source: /app/artifacts/localnet/node_x25519_0.json
        target: /usr/arx-node/node-keys/node_x25519_keypair.json
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      arx_network:
        ipv4_address: 172.20.0.100
    

  arx-node-1:
    image: "arcium/arx-node:latest"
    restart: unless-stopped
    environment:
      NODE_IDENTITY_FILE: /usr/arx-node/node-keys/node_identity.pem
      NODE_KEYPAIR_FILE: /usr/arx-node/node-keys/node_keypair.json
      OPERATOR_KEYPAIR_FILE: /usr/arx-node/node-keys/operator_keypair.json
      CALLBACK_AUTHORITY_KEYPAIR_FILE: /usr/arx-node/node-keys/callback_authority_keypair.json
      NODE_CONFIG_PATH: /usr/arx-node/arx/node_config.toml
      BLS_PRIVATE_KEY_FILE: /usr/arx-node/node-keys/node_bls_keypair.json
      X25519_PRIVATE_KEY_FILE: /usr/arx-node/node-keys/node_x25519_keypair.json
      ARX_METRICS_HOST: "0.0.0.0"
    ports:
      - "127.0.0.1:9092:9091"
    volumes:
      - type: bind
        source: /app/artifacts/node_config_1.toml
        target: /usr/arx-node/arx/node_config.toml
        read_only: false
      - type: bind
        source: /app/artifacts/localnet/node_1.json
        target: /usr/arx-node/node-keys/node_keypair.json
      - type: bind
        source: /app/artifacts/localnet/node_1.json
        target: /usr/arx-node/node-keys/operator_keypair.json
      - type: bind
        source: /app/artifacts/localnet/node_callback_1.json
        target: /usr/arx-node/node-keys/callback_authority_keypair.json
      - type: bind
        source: /app/artifacts/localnet/identity_1.pem
        target: /usr/arx-node/node-keys/node_identity.pem
      - type: bind
        source: /app/artifacts/arx_node_logs
        target: /usr/arx-node/logs
      - type: bind
        source: /app/artifacts/localnet/node_bls_1.json
        target: /usr/arx-node/node-keys/node_bls_keypair.json
      - type: bind
        source: /app/artifacts/localnet/node_x25519_1.json
        target: /usr/arx-node/node-keys/node_x25519_keypair.json
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      arx_network:
        ipv4_address: 172.20.0.101
    
